* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Knewave";
}

@media screen and (max-width: 768px) {
  header .nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: black;
    padding: auto;
  }
}
@media screen and (max-width: 576px) {
  header .nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: black;
    padding: auto;
  }
}
header .nav .menues {
  list-style-type: none;
  display: flex;
  gap: 380px;
  justify-content: center;
  color: darkgray;
  font-size: 25px;
}
@media screen and (max-width: 768px) {
  header .nav .menues {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 150%;
    padding: 5rem;
  }
}
@media screen and (max-width: 576px) {
  header .nav .menues {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 150%;
    padding: 5rem;
  }
}
header .nav .menues .menues__item {
  padding: 0.3rem;
  color: aliceblue;
}
@media screen and (max-width: 768px) {
  header .nav .menues .menues__item {
    padding: 0.3rem;
    color: aliceblue;
  }
}
@media screen and (max-width: 576px) {
  header .nav .menues .menues__item {
    padding: 0.3rem;
    color: aliceblue;
  }
}
header .nav .menues .menues__item:link, header .nav .menues .menues__item:visited {
  font-size: 25px;
  transition: font-size 0.1s ease, color 1s;
  text-decoration: none;
  color: white;
}
header .nav .menues .menues__item:link:hover, header .nav .menues .menues__item:link:active, header .nav .menues .menues__item:visited:hover, header .nav .menues .menues__item:visited:active {
  font-size: 27px;
  color: red;
}
header .nav .menues .menues__item a {
  font-size: 25px;
  transition: font-size 0.1s ease;
  text-decoration: none;
  color: white;
  transition: all 1s;
}
header .nav .menues .menues__item a:hover {
  font-size: 27px;
  color: red;
}
header .nav2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: auto;
}
header .nav2 .menues2 {
  list-style-type: none;
  display: flex;
  gap: 380px;
  justify-content: center;
  color: darkgray;
  font-size: 25px;
}
@media screen and (max-width: 768px) {
  header .nav2 .menues2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 150%;
    padding: 5rem;
  }
}
@media screen and (max-width: 576px) {
  header .nav2 .menues2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 150%;
    padding: 5rem;
  }
}
header .nav2 .menues2 .menues2__item a {
  font-size: 25px;
  transition: font-size 0.1s ease;
  text-decoration: none;
  color: white;
  transition: all 1s;
}
header .nav2 .menues2 .menues2__item a:hover {
  font-size: 27px;
  color: red;
}
header h2 {
  color: red;
  text-align: center;
  font-family: initial;
  padding: 2rem;
}
header .focus-in-contract-bck {
  animation: focus-in-contract-bck 4s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite both;
}
@keyframes focus-in-contract-bck {
  0% {
    letter-spacing: 1em;
    transform: translateZ(300px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    transform: translateZ(12px);
    filter: blur(0);
    opacity: 1;
  }
}

.pagina1 {
  font-family: "Knewave";
  background-image: url(../img/7513-futbol.jpg);
  color: white;
  background-attachment: fixed;
  background-size: cover;
}
@media screen and (max-width: 768px) {
  .pagina1 {
    background-image: url(../img/fondo\ negro.png);
  }
}
@media screen and (max-width: 576px) {
  .pagina1 {
    background-image: url(../img/fondo\ negro.png);
  }
}
.pagina1 main section .adidas {
  display: flex;
  width: 250px;
  height: 250px;
  position: fixed;
  margin-top: 330px;
}
@media screen and (max-width: 768px) {
  .pagina1 main section .adidas {
    display: none;
  }
}
@media screen and (max-width: 576px) {
  .pagina1 main section .adidas {
    display: none;
  }
}
.pagina1 main section .nike {
  display: flex;
  position: fixed;
  width: 200px;
  height: 200px;
  margin-left: 1700px;
  margin-top: 370px;
}
@media screen and (max-width: 768px) {
  .pagina1 main section .nike {
    display: none;
  }
}
@media screen and (max-width: 576px) {
  .pagina1 main section .nike {
    display: none;
  }
}
.pagina1 main section .starsoccer {
  font-size: 9rem;
  display: flex;
  justify-content: center;
  margin: 12rem;
}
@media screen and (max-width: 768px) {
  .pagina1 main section .starsoccer {
    display: flex;
    font-size: 6rem;
    justify-content: center;
  }
}
@media screen and (max-width: 576px) {
  .pagina1 main section .starsoccer {
    display: flex;
    font-size: 3rem;
    justify-content: center;
  }
}

.pagina2 {
  font-family: "Knewave";
  background-image: url(../img/pagina2.jpg);
  background-attachment: fixed;
  background-size: cover;
}
.pagina2 header .acercade {
  display: flex;
  justify-content: center;
  font-size: 40px;
  color: red;
}
.pagina2 header .introduccion {
  padding: 20px;
  text-align: center;
  font-size: 22px;
}
.pagina2 main section .sectioncaja {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 90%;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .pagina2 main section .sectioncaja {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    width: 100%;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
  }
}
@media screen and (max-width: 576px) {
  .pagina2 main section .sectioncaja {
    padding: 5px;
  }
}
.pagina2 main section .sectioncaja .caja {
  padding: 25px;
  font-size: 25px;
}
@media screen and (max-width: 768px) {
  .pagina2 main section .sectioncaja .caja {
    padding: 25px;
    font-size: 20px;
  }
}
@media screen and (max-width: 576px) {
  .pagina2 main section .sectioncaja .caja {
    padding: 25px;
    font-size: 15px;
  }
}

.pagina3 {
  font-family: "Knewave";
  background-image: url(../img/fondo\ negro.png);
  background-attachment: fixed;
  background-size: cover;
}
.pagina3 header .mododejuego {
  color: red;
  display: flex;
  justify-content: center;
}
.pagina3 header .intromodo {
  color: gray;
  display: flex;
  justify-content: center;
}
.pagina3 h5 {
  color: red;
}

.pagina4 {
  font-family: "Knewave";
  background-image: url(../img/pagina4.jpg);
  background-attachment: fixed;
  background-size: cover;
}
.pagina4 header .comunidad {
  display: flex;
  justify-content: center;
  color: red;
}
.pagina4 header .parrafocomunidad {
  display: flex;
  justify-content: center;
  color: rgb(37, 35, 35);
  padding: 20px;
}
.pagina4 main section .foro {
  display: flex;
  justify-content: center;
  font-size: 30px;
  color: red;
}
.pagina4 main section .container1 {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 20vh;
  border-color: green;
}
@media screen and (max-width: 768px) {
  .pagina4 main section .container1 {
    display: none;
  }
}
@media screen and (max-width: 576px) {
  .pagina4 main section .container1 {
    display: none;
  }
}
.pagina4 main section .container1 .tabla1 {
  font-size: 25px;
  table-layout: fixed;
  border-collapse: collapse;
}
.pagina4 main section .container1 .tabla1 tr th {
  padding: 15px 15px;
  text-transform: uppercase;
}
.pagina4 main section .container1 .tabla1 tr td {
  padding: 5px;
  text-align: center;
}
.pagina4 main .articulo1 {
  display: flex;
  padding-top: 30px;
  text-align: center;
  color: rgb(255, 255, 255);
}
.pagina4 main .form1 {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 30px;
}
.pagina4 main .form1 .encuentra {
  font-size: 30px;
  color: red;
}

.pagina5 {
  font-family: "Knewave";
  background-image: url(../img/pagina5.png);
  background-attachment: fixed;
  background-size: cover;
}
.pagina5 header .asistencia {
  display: flex;
  justify-content: center;
  font-size: 30px;
  color: red;
}
.pagina5 header .parrafoasistencia4 {
  display: flex;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  color: rgb(255, 255, 255);
}
.pagina5 main .formulario2 {
  display: flex;
  justify-content: center;
  color: red;
}
.pagina5 main .formulario2 .cuadrotexto {
  width: 400px;
  height: 400px;
  margin: auto;
  padding: 53px;
  background-color: #ffffff;
  border-radius: 50%;
  border: 3px solid black;
}
.pagina5 main .ayuda4 {
  display: flex;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  color: rgb(255, 255, 255);
}

footer .contacto5 {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 20px;
}
footer .copy {
  position: fixed;
  bottom: 0;
  left: 0;
  font-family: "Times New Roman", Times, serif;
}/*# sourceMappingURL=estilo.css.map */