*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.pagina1{
    font-family: 'Knewave';
    background-image: url(../img/7513-futbol.jpg);
    color: white;
    background-attachment: fixed;
    background-size: cover;          
}

h2{         
    color: red;
    text-align: center;
    font-family: initial;
    padding: 2rem;
    transition: 1s;   
}

h2:hover {
    color: white;
    font-size: 27px;
}
    
.menues, .menues2 {
    list-style-type: none;
    display: flex;
    gap: 380px;
    justify-content: center;
    color: darkgray;  
    font-size: 25px;
                    
}
.menues__item a {
    font-size: 25px;
    transition: font-size 0.1s ease;
    text-decoration: none;
    color: white;
    transition: all 1s;
}

.menues__item a:hover {
    font-size: 27px;
    color: red;
    
    
}

.starsoccer{
    font-size: 9rem;
    display: flex;
    justify-content: center;
    margin: 12rem;
}  
    
.contacto5{
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 20px;
       
    
}
.copy{
    position: fixed;
    bottom: 0;
    left: 0;
    font-family: 'Times New Roman', Times, serif;    
 }
 .adidas{
    display: flex;     
    width: 250px;
    height: 250px;
    position: fixed;
    margin-top: 330px;   
 }
 .nike{
    display: flex;    
    position: fixed;
    width: 200px;
    height: 200px;
    margin-left: 1700px;
    margin-top: 370px;      

 }
 .pagina2{
    font-family: 'Knewave';
    background-image: url(../img/pagina2.jpg);    
    background-attachment: fixed;
    background-size: cover;

 }
 .acercade{
    display: flex;
    justify-content: center;
    font-size: 40px;
    color: red;
 }
 .menues2__item a {
    font-size: 25px;
    transition: font-size 0.1s ease;
    text-decoration: none;
    color: white;
    transition: all 1s;
}

.menues2__item a:hover {
    font-size: 27px;
    color: red;
    
    
}
 .sectioncaja{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 90%;
    margin: 0 auto;
    padding: 20px;    
    text-align: center;    

 }
 .caja{    
    padding: 25px;
    font-size: 25px;              
 }
 .introduccion{
    padding: 20px;
    text-align: center;
    font-size: 22px;
 }
 .pagina3{
    font-family: 'Knewave';
    background-image: url(../img/fondo\ negro.png);    
    background-attachment: fixed;
    background-size: cover;

 }
 .mododejuego{
    color: red;
    display: flex;
    justify-content: center;
 }
 .intromodo{
    color: gray;
    display: flex;
    justify-content: center;
    
 }
 h5{
    color: red;
 }
 .pagina4{
    font-family: 'Knewave';
    background-image: url(../img/pagina4.jpg);    
    background-attachment: fixed;
    background-size: cover;

 }
 .comunidad{
    display: flex;
    justify-content: center;
    color: red;
 }
 .parrafocomunidad{
    display: flex;
    justify-content: center;
    color: rgb(37, 35, 35);
    padding: 20px;
 }
 .container1{
    display: flex;
    align-items: center;
    justify-content: center;    
    min-height: 20vh;
    border-color: green;
    
 }
 .tabla1{    
    font-size: 25px;
    table-layout: fixed;
    border-collapse: collapse;

 }
 th{
    padding: 15px 15px;
    text-transform: uppercase;
    
 }
 td{
    padding: 5px;
    text-align: center;      
       
 }
 .foro{
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: red;
 }
 .articulo1{
    display: flex;
    padding-left:370px;
    padding-right: 370px;
    padding-top: 30px;
    text-align: center;
    color: rgb(255, 255, 255);

 }
 .form1{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 30px;
 }
 .encuentra{
    font-size: 30px;
    color: red;
 }
 .pagina5{
    font-family: 'Knewave';
    background-image: url(../img/pagina5.png);    
    background-attachment: fixed;
    background-size: cover;

 }
 .asistencia{
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: red;
 }
 .parrafoasistencia4{
    display: flex;
    padding-top: 50px ;    
    padding-left: 500px;
    padding-right: 500px;
    padding-bottom: 50px;
    text-align: center;
    color: rgb(255, 255, 255);

 }
 .formulario2{
    display: flex;
    justify-content: center;
    color: red;
 }
 .ayuda4{
   display: flex;
   padding-top: 50px ;    
   padding-left: 500px;
   padding-right: 500px;
   padding-bottom: 50px;
   text-align: center;
   color: rgb(255, 255, 255);
    
 }

 
 @media screen and (max-width: 750px) {  

    .pagina1{
                background-image: url(../img/fondo\ negro.png);
                               
    }
    
    .starsoccer {
        display: flex;
        font-size: 6rem;
        justify-content: center;    
    }
           
    
    .adidas {
        display: none;
    }

    .nike {
        display: none;
    }

    
    .nav {
       
        display: flex;        
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        position: relative;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: black;
        padding: auto;
        
    }
            
    .menues {
        display: flex;        
        flex-direction: column;
        align-items: center;
        gap: 150%;
        padding: 5rem;
        
    }
    .menues__item {
        padding: 0.3rem;        
        color: aliceblue;
                
    }    
    
    .menues__item a {
        font-size: 35px;
    }

    .nav2 {
       
        display: flex;        
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        position: relative;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;        
        padding: auto;
    }
    .menues2 {
        display: flex;        
        flex-direction: column;
        align-items: center;
        gap: 150%;
        padding: 20px;
        font-size: 50px;
    }
    .sectioncaja{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        width: 100%;
        margin: 0 auto;
        padding: 10px;    
        text-align: center;    
    
     }
     .caja{    
        padding: 25px;
        font-size: 20px;              
     }
     .container1{
        display: none;
        
     }
     .foro{
        display: none;
     }
     .articulo1{
        display: none;
     }
     .ayuda{
        display: none;
     }                  
    
    
}

  
  @media screen and (max-width: 480px) { 

    .pagina1{
                background-image: url(../img/fondo\ negro.png);
                               
    }
    
    .starsoccer {
        display: flex;
        font-size: 3rem;
        justify-content: center;    
    }
           
    
    .adidas {
        display: none;
    }

    .nike {
        display: none;
    }

    
    .nav {
       
        display: flex;        
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        position: relative;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: black;
        padding: auto;
    }
    .nav2 {
       
        display: flex;        
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        position: relative;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;        
        padding: auto;
    }
        
    .menues {
        display: flex;        
        flex-direction: column;
        align-items: center;
        gap: 150%;
        padding: 5rem;
    }
    .menues2 {
        display: flex;        
        flex-direction: column;
        align-items: center;
        gap: 150%;
        padding: 20px;
        font-size: 30px;
    }
    .menues__item {
        padding: 0.3rem;        
        color: aliceblue;        
    }
    .menues__item a {
        font-size: 25px;
    }
    .sectioncaja{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        width: 100%;
        margin: 0 auto;
        padding: 5px;    
        text-align: center;}

    .caja {    
        padding: 25px;
        font-size: 15px;              
     } 
     .introduccion{
        padding: 30px;
        text-align: center;
        font-size: 18px;
     }
     .intromodo{
        color: rgb(233, 228, 228);
        
}
.parrafoasistencia4{
   display: flex;
   padding-top: 20px ;    
   padding-left: 10px;
   padding-right: 10px;
   padding-bottom: 20px;
   text-align: center;
   color: rgb(255, 255, 255);

}
.ayuda4{
   display: flex;
   padding-top: 20px ;    
   padding-left: 10px;
   padding-right: 10px;
   padding-bottom: 20px;
   text-align: center;
   color: rgb(255, 255, 255);
}
} 
    




    
 
 
 
    
 



