.pagina5{
    font-family: 'Knewave';
    background-image: url(../img/pagina5.png);    
    background-attachment: fixed;
    background-size: cover;

    header{

        .asistencia{
            display: flex;
            justify-content: center;
            font-size: 30px;
            color: red;
         }
         .parrafoasistencia4{
            display: flex;
            padding-top: 50px ;  
            padding-bottom: 50px;
            text-align: center;
            color: rgb(255, 255, 255);
        
         }
    }

    main{

        .formulario2{
            display: flex;
            justify-content: center;
            color: red;

            .cuadrotexto{
                width: 400px;
                height: 400px;
                margin: auto;
                padding: 53px;
                background-color: #ffffff;
                border-radius: 50%;
                border: 3px solid black;
            }
                        
         }

         .ayuda4{
            display: flex;
            padding-top: 50px ;                
            padding-bottom: 50px;
            text-align: center;
            color: rgb(255, 255, 255);
             
          }
    }
}
