.pagina3{
    font-family: 'Knewave';
    background-image: url(../img/fondo\ negro.png);    
    background-attachment: fixed;
    background-size: cover;

        header{

            .mododejuego{
            color: red;
            display: flex;
            justify-content: center;
         }
            .intromodo{
            color: gray;
            display: flex;
            justify-content: center;
            
         }
        }

            h5{
            color: red;
        }
        
}
